*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
}

img,
svg,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select,
optgroup {
  font: inherit;
}
