:host {
  display: grid;
  grid-template-columns: var(--sidebar-width) minmax(0, 1fr) var(--widgets-panel-width);
  width: 100%;
}

app-sidebar,
main,
aside {
  overflow-y: auto;
  padding-block: var(--size-6);
}

app-sidebar,
aside {
  background: var(--color-surface);
}

main {
  padding-inline: var(--size-5);
}

aside {
  padding-inline: var(--size-4);
}
